/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  color: #eee;
  background: #777;
  font-style: italic;
  border-radius: 15px;
}

.nav {
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0.89;
  background: oldlace;
}

.nav a {
  box-sizing: border-box;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #000;
}

.nav a:hover,
.nav .active-link {
  background: grey;
}

.nav .active-link {
  text-decoration: underline;
}

@media only screen and (min-width: 425px) {
  .nav {
    flex-flow: row nowrap;
  }
}
